body{
    font-family: 'Open Sans', sans-serif;
}
.main{
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
}
.heading{
    width: 700px;
    align-items: center;
}
.title{
    color: #272727;
    font-size: 80px;
    width: 800;
    margin-bottom: 0px;
}
.disciription{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 20px;
    margin-bottom: 24px;
}
.botom{
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 20px 40px;
    background-color: #E55473;
    border-radius: 10px;
}
.manu{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color:#272727;
    margin-top: 150px;
}
.text{
  text-align: center;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
}
.flo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
}
.pic1{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    border: 90px 78px 0px 75px;
    width: 464px;
    height: 538px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.photo1{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}
.photo2{
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
}
.photo3{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
}
.chart{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1490px;
    height: 320px;
    margin: 128px 240px 128px 255px;
    padding-top: 130px;
}
.icon{
    display: flex;
    justify-content:center;
    gap: 340px;
}
.address{
    display: flex;
    justify-content:center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    gap: 110PX;
}
.fourth{
    display: flex;
    justify-content:space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 620px;
}
.mental{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
.eight{
    padding: 100px 250px 100px 0px;
}
.dell{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.file{
    display: flex;
    justify-content: space-around;
    padding: 24px 240px 48px 240px;
}
.container{
    margin: 128px 240px 128px 255px;
}
.from{
    background-image: url(../style/Rectangle\ 9.png);
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px
}
.last{
    align-items: center;
}
.fifth{
    text-align: center;
    padding-top: 1px;
}
.output{
    width: 600px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}
.foot{
    width: 100%;
    height: 449px;
    background: #111010;
    justify-content: space-around;
}
.finish{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    justify-content: space-around;
}
.pink{
    color: white;
}
.paragraph{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
} 
.comment{
    align-items: center;
    padding-top: 80px;
}

